<div class="container pt-5">
    <form [formGroup]="ligacaoForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="origem">DDD Origem</label>
                <select  class="form-control custom-select" id="origem" formControlName="origem" (ngModelChange)="atualizarListaDestino($event)">
                    <option *ngFor="let origem of listaCodigos">{{origem.codigoOrigem}}</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="destino">DDD Destino</label>
                <select class="form-control custom-select" id="destino" formControlName="destino">
                    <option *ngFor="let destino of listaDestinos"> {{destino.codigoDestino}} </option>
                 </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="tempo">Tempo</label>
                <input type="text" class="form-control" maxlength="10" id="tempo" placeholder="Tempo" formControlName="tempo" [ngClass]="{'is-invalid': (!tempo.pristine && tempo.errors && tempo.errors.menorQueZero) }">
                <div class="invalid-feedback">
                  Informe um valor maior do que ZERO.
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="plano">Plano FaleMais</label>
                <select class="form-control custom-select" id="plano" formControlName="plano">
                    <option *ngFor="let plano of planos">{{plano}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <button type="submit" class="btn btn-success" [disabled]="!ligacaoForm.valid">Simular</button>
            </div>
        </div>
    </form>
</div>
