<div class="container pt-5">
    <form (ngSubmit)="submeterLigacao(criarLigacao.value)" #criarLigacao="ngForm" class="{'was-validated': !criarLigacao.form.valid}">
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="selecaoOrigem">DDD Origem</label>
                <select  class="form-control custom-select" id="selecaoOrigem" name="selecaoOrigem" (ngModelChange)="atualizarListaDestino($event.codigoOrigem)"  ngModel required>
                    <option value="" selected disabled>Selecione</option>
                    <option *ngFor="let origem of listaCodigo" [ngValue]="origem">{{ origem.codigoOrigem }}</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="selecaoDestino">DDD Destino</label>
                <select class="form-control custom-select" id="selecaoDestino" name="selecaoDestino" ngModel required>
                    <option value="" selected disabled>Selecione</option>
                    <option *ngFor="let destino of listaCodigoDestino" [ngValue]="destino"> {{ destino.codigoDestino }} </option>
                 </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="quantidadeMinutos">Quantidade de Minutos</label>
                <input type="number" class="form-control" name="quantidadeMinutos" id="quantidadeMinutos" placeholder="Quantidade de Minutos" ngModel required #quantidadeMinutos="ngModel">
                <div *ngIf="quantidadeMinutos.value==='0' || (quantidadeMinutos.invalid && (quantidadeMinutos.dirty || quantidadeMinutos.touched))" class="invalid-feedback">
                        Por favor, insira a quantidade de minutos maior que zero.
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="selecaoPlano">Plano FaleMais</label>
                <select class="form-control custom-select" id="selecaoPlano" name="selecaoPlano" ngModel required>
                    <option value="" selected disabled>Selecione</option>
                    <option *ngFor="let plano of listaPlano" [ngValue]="plano">{{ plano.nomePlano }}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <button type="submit" class="btn btn-success" [disabled]="!criarLigacao.form.valid">Simular</button>
            </div>
        </div>
    </form>
</div>
